<div class="advise-page-container">
    <div class="left">
        <ul>
            <li>
                <div class="friend-card">
                    <div class="friend-card-img">
                        <img src="../../../../../assets/images/default_avatar.svg" style="width: 60px; height: 60px;">
                    </div>

                    <div class="friend-card-msg">
                        <div class="friend-card-name">
                            <span class="msg-name-text">Le Quoc Thinh</span>
                        </div>

                        <div class="friend-card-msg-detail">
                            <span class="msg-small-text">You: hello world</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="right">
        <div class="right-nav">
            <img
                src="../../../../../assets/images/default_avatar.svg"
                style="width: 40px; height: 40px; margin-right: 20px;"
            >
            <span>Le Quoc Thinh</span>
        </div>

        <div class="right-chat-box">
            <div class="right-chat-message-right">
                <div class="msg-right">
                    <span>A</span>
                </div>
            </div>
            <div class="right-chat-message-left">
                <div class="msg-left">
                    <span>Bssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</span>
                </div>
            </div>
            <div class="right-chat-message-right">
                <div class="msg-right">
                    <span>A</span>
                </div>
            </div>
            <div class="right-chat-message-left">
                <div class="msg-left">
                    <span>Bssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</span>
                </div>
            </div>
            <div class="right-chat-message-right">
                <div class="msg-right">
                    <span>A</span>
                </div>
            </div>
            <div class="right-chat-message-left">
                <div class="msg-left">
                    <span>Bssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</span>
                </div>
            </div>
            <div class="right-chat-message-right">
                <div class="msg-right">
                    <span>A</span>
                </div>
            </div>
            <div class="right-chat-message-left">
                <div class="msg-left">
                    <span>Bssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</span>
                </div>
            </div>
            <div class="right-chat-message-right">
                <div class="msg-right">
                    <span>A</span>
                </div>
            </div>
            <div class="right-chat-message-left">
                <div class="msg-left">
                    <span>Bssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</span>
                </div>
            </div>
            <div class="right-chat-message-right">
                <div class="msg-right">
                    <span>A</span>
                </div>
            </div>
            <div class="right-chat-message-left">
                <div class="msg-left">
                    <span>Bssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</span>
                </div>
            </div>
            <div class="right-chat-message-right">
                <div class="msg-right">
                    <span>A</span>
                </div>
            </div>
            <div class="right-chat-message-left">
                <div class="msg-left">
                    <span>Bssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</span>
                </div>
            </div>
            <div class="right-chat-message-right">
                <div class="msg-right">
                    <span>A</span>
                </div>
            </div>
            <div class="right-chat-message-left">
                <div class="msg-left">
                    <span>Bssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss</span>
                </div>
            </div>
        </div>

        <div class="right-chat-input">
            <div class="right-chat-input-left">
                <textarea> </textarea>
            </div>

            <div class="right-chat-input-right">
                <mat-icon class="button-send">send</mat-icon>
            </div>
        </div>
    </div>
</div>