.history-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 3rem;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;

    .history-page-title {
        margin-bottom: 1.2rem;
    }
}