<div class="search-page">
    <div class="search-page-center">
        <div class="search-page-logo">
            <img src="../../../../../../assets/logo/logo-02.png" width="600px" height="250px" style="margin-bottom: 10px;">
        </div>
        <div class="search-page-input">
            <span class="p-fluid">
                <input
                    type="text"
                    pInputText
                    placeholder="Search Query"
                    [(ngModel)]="query"
                    [multiple]="true">
            </span>

        </div>


        <div class="search-page-button">
            <button (click)="findQuestions()">Find your questions</button>
            <button routerLink="/app/questions">See random questions</button>
        </div>

    </div>
</div>