// .sizes {
//     .p-inputtext {
//         display: block;
//         margin-bottom: .5rem;

//         &:last-child {
//             margin-bottom: 0;
//         }
//     }
// }

// .p-field * {
//     display: block;
// }

// .login-layout {
//     .p-field {
//         width: 100%;
//         display: block;
//     }
// }

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

.login-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif !important;
    flex-direction: column;


    .login-content {
        width: 40%;
        height: 80%;
        background-color: white;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        color: #5c7183;
        box-shadow: 2px 2px 2px 2px #eceff1;
        margin-bottom: 5rem;
        margin-top: 5rem;

        .login-content-intro {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .login-form-container {

            margin-top: 1rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;

            form {
                margin-top: 2rem;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
                font-family: 'Source Sans Pro', sans-serif !important;

                .input-container {
                    width: 60%;
                    margin-bottom: 1rem;

                    input {
                        font-family: 'Secular One', sans-serif !important;
                        width: 100%;
                    }
                }
            }

            .login-button {
                margin-top: 2rem;
                display: flex;
                justify-content: center;
                width: 100%;

                button {
                    border: none;
                    outline: none;
                    background-color: #277ffe;
                    color: white;
                    font-size: larger;
                    width: 50%;
                    height: 3rem;
                    border-radius: 10px;
                }
            }
        }
    }
}