<div class="login-container">
    <div class="login-content">
        <div class="login-content-intro">
            <h3>Welcome to Stackoverflow search engine</h3>
        </div>
        
        <div class="login-form-container">
            <form [formGroup]="registerForm">
                <span class="p-input-icon-left input-container">
                    <i style="color: blue;" class="pi pi-user"></i>
                    <input formControlName="name" type="text" pInputText placeholder="Name" />
                </span>


                <span class="p-input-icon-left input-container">
                    <i style="color: blue;" class="pi pi-user"></i>
                    <input formControlName="username" type="text" pInputText placeholder="Username" />
                </span>
        
                <span class="p-input-icon-left input-container">
                    <i style="color: blue;" class="pi pi-envelope"></i>
                    <input formControlName="email" type="email" pInputText placeholder="Email" />
                </span>

                <span class="p-input-icon-left input-container">
                    <i style="color: blue;" class="pi pi-lock"></i>
                    <input formControlName="password" type="password" pInputText placeholder="Password" />
                </span>

                <span class="p-input-icon-left input-container">
                    <i style="color: blue;" class="pi pi-lock"></i>
                    <input formControlName="confirmPassword" type="password" pInputText placeholder="Confirm password" />
                </span>
            </form>

            <div class="login-button">
                <button (click)="registerAccount()">Register</button>
            </div>
        </div>
    </div>

    <div class="login-further-info">
        <div>
            Already have an account? <a routerLink="/auth/login">Login now</a>
        </div>
    </div>
</div>