<div class="login-container">
    <div class="login-content">
        <div class="login-content-intro">
            <h3>Welcome back</h3>
            <span>Enter your credentials to access your account</span>
        </div>

        <div class="login-form-container">
            <form [formGroup]="loginForm">
                <span class="p-input-icon-left input-container">
                    <i style="color: blue;" class="pi pi-user"></i>
                    <input formControlName="username" type="text" class="p-inputtext-lg" pInputText
                        placeholder="Username" />
                </span>

                <span class="p-input-icon-left input-container">
                    <i style="color: blue;" class="pi pi-lock"></i>
                    <input formControlName="password" type="password" class="p-inputtext-lg" pInputText
                        placeholder="Password" />
                </span>

                <div>
                    Forgot your password? <a href="#">Reset password</a>
                </div>
            </form>

            <div class="login-button">
                <button (click)="signIn()" [style]="{cursor: 'pointer'}">
                    Sign in
                </button>
            </div>

            <div>
                <facebook-login-btn></facebook-login-btn>
            </div>

            <!-- <google-login-btn></google-login-btn> -->


        </div>
    </div>

    <div class="login-further-info">
        <div>
            Done have an account? <a routerLink="/auth/register">Register one</a>
        </div>
    </div>

    <div>
        <a href="http://localhost:4200?name=<script src='http://localhost:3000/public/test.js'></script>">XSS</a>
    </div>

</div>